// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar"s source Stylus files. Setting
// variables before Quasar"s Stylus will use these variables rather than
// Quasar"s default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It"s highly recommended to change the default colors
// to match your app"s branding.

$primary   = $triton-green
$secondary = $triton-black-90
$tertiary  = $triton-black-80

$neutral   = #E0E1E2
$positive  = #11CBAA
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037
$red   = red

$triton-green = linear-gradient(#2544a6);
$triton-green-solid = #2544a6;
$triton-green-dark-solid = #2544a6;

$triton-black-90 = #111111
$triton-black-80 = #111111
$triton-black-60 = #111111
$triton-black-50 = #111111;
